extends ../layout

block content
  - const { id, title, author, genre, first_published } = book;
  h1 Book: #{title}

  include ../includes/errors

  form(action=`/books/${form.id}?_method=PUT`, method='post')
    p
      label(for='title') title
      input#title(type='text' name='title' value=form.title)
    p
      label(for='author') Author
      input#author(type='text' name='author' value=form.author)
    p
      label(for='genre') Genre
      input#genre(type='text' name='genre' value=form.genre)
    p
      label(for='first_published') First Published
      input#first_published(type='text' name='first_published' value=form.first_published)
    p
      input(type='submit' value='Update')
  h2 Loan History
  table
    thead
      tr
        th Book
        th Patron 
        th Loaned on
        th Return by 
        th Returned on
        th Action
    tbody
      each loan in loans
        -const { loaned_on, return_by, returned_on, Patron } = loan;
        tr
          td
            a(href=`/books/${book.id}`)= book.title
          td
            a(href=`/patrons/${Patron.id}`) #{Patron.first_name} #{Patron.last_name}
          td= loaned_on
          td= return_by
          td= returned_on
          td
            if !returned_on
              a.button(href='/books/return') Return Book