extends ../layout

block content
  -const { books, pageUrl, search, pagination } = templateData;
  div.title-header
    h1 Books
    a.button(href='/books/new') Create New Book
  p#filters Filters
    a(href='/books')  All |
    a(href='/books/overdue')  Overdue |
    a(href='/books/checked_out')  Checked Out

  include ../includes/search

  table
    thead
      tr
        th Book Title
        th Author
        th Genre
        th Year Released
    tbody
      if books.length
        each book in books
          - const { id, title, author, genre, first_published } = book;
          tr
            td
              a(href=`/books/${id}`) #{title}
            td= author
            td= genre
            td= first_published
      else
        tr
          td(colspan=4) No Results
    tfoot
      tr
        td.pagination-cell(colspan=4)
          include ../includes/pagination