extends ../layout

block content
  div.title-header
    h1 Loans
    a.button(href='/loans/new') Create New Loan

  p#filters Filters
    a(href='/loans')  All |
    a(href='/loans/overdue')  Overdue |
    a(href='/loans/checked_out')  Checked Out

  table
    thead
      tr
        th Book title
        th Patron
        th Loaned on
        th Return by
        th Returned on
        th Action
    tbody
      each loan in loans
        - const { loaned_on, return_by, returned_on, Book, Patron } = loan;
        tr
          td
            a(href=`/books/${Book.id}`)= Book.title
          td
            a(href=`/patrons/${Patron.id}`) #{Patron.first_name} #{Patron.last_name}
          td= loaned_on
          td= return_by
          td= returned_on
          td
            if !returned_on
              a.button(href=`/loans/${loan.id}/return`) Return Book