extends ../layout

block content
  h1 Patrons
  p
    a.button(href='/patrons/new') Create New Patron

  table
    thead
      tr
        th Name
        th Address
        th Email
        th Library ID
        th Zip
    tbody
      each patron in patrons
        - const { id, first_name, last_name, address, email, library_id, zip_code } = patron;
        tr
          td
            a(href=`/patrons/${id}`) #{first_name} #{last_name}
          td= address
          td= email
          td= library_id
          td= zip_code
    tfoot
      tr
        td.pagination-cell(colspan=4)
          include ../includes/pagination